---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kumaira visitanos- rodz">
  <main class="px-[10px] py-[10px] w-full h-screen flex justify-center items-center">
    <h1 class="font-kumaira leading-none text-[140px] min-[450px]:text-[160px] sm:text-[180px]">Contacto</h1>
  </main>
</Layout>