---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kumaira web - rodz">
  <main class="px-[10px] py-[10px] w-full h-screen">
    <div class="w-full h-full bg-image bg-cover rounded-[20px]">
			<div class="ml-[20px] sm:ml-[50px] pt-5 max-w-[900px] flex flex-col lg:flex-row lg:items-center justify-between">
				<h1 class="font-kumaira leading-none text-[140px] min-[450px]:text-[160px] sm:text-[180px]">Kumaira</h1>
				<div class="max-w-[300px] flex flex-col gap-[10px] items-start">
					<p class="text-xl sm:text-2xl font-medium">Creemos que un buen diseño debe sentirse como una cálida bienvenida.</p>
					<a href="#" class="focus:ring-4 ring-slate-500 text-xl font-medium py-2 sm:py-3 px-4 sm:px-5 rounded-full border-[1.5px] border-[#212121]">
						Ver más
					</a>
				</div>
			</div>
		</div>
  </main>
</Layout>
