---
import BarIcon from '../icons/Bar.svg';
---

<header class="w-full px-[10px] py-5 sm:px-8 flex justify-center">
  <nav class="w-full max-w-7xl flex items-center justify-between">
    <h2 class="font-kumaira leading-none text-[40px]">Kumaira</h2>
    <div class="block sm:hidden cursor-pointer">
      <img src={BarIcon.src} alt="icono the bar" class="w-6">
    </div>
    <nav class="hidden sm:flex gap-[30px]">
      <a href="/" class="text-xl text-[#212121] font-normal">Inicio</a>
      <a href="/eventos" class="text-xl text-[#212121] font-normal">Eventos</a>
      <a href="/visitanos" class="text-xl text-[#212121] font-normal">Visítanos</a>
      <a href="/contacto" class="text-xl text-[#212121] font-normal">Contacto</a>
    </nav>
  </nav>
</header>
