---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="Kumaira" content="landing page of Halloween" />

		<!-- Font family Josefin Sans -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	::-webkit-scrollbar{
		width: 0;
		height: 0;
	}

	.font-kumaira {
    font-family: "Jolly Lodger", serif;
  }

	.bg-image {
    background-image: url("cartoon-ai.jpg");
  }

	body{
		background: #f5f5f5;
		font-family: "Josefin Sans", serif;
	}

	.sidebar.menu-toggle{
    opacity: 1;
  }
</style>
